<a href="https://colab.research.google.com/github/zenitsu0705/DM/blob/main/chiSquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
dataset=sns.load_dataset('tips')
print(dataset.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
dataset_table=pd.crosstab(dataset["sex"],dataset["smoker"])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
observed_values=dataset_table.values
print("Observed_Values :-\n",observed_values)

Observed_Values :-
 [[60 97]
 [33 54]]

In [ ]:
val=stats.chi2_contingency(dataset_table)

In [ ]:
val

(0.0, 1.0, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [ ]:
expected_values=val[3]
print("Expected_Values :-\n",expected_values)

Expected_Values :-
 [[59.84016393 97.15983607]
 [33.15983607 53.84016393]]

In [ ]:
chi_square=sum([(o-e)**2/e for o,e in zip(observed_values,expected_values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("Chi_Square_Statistic :-\n",chi_square_statistic)

Chi_Square_Statistic :-
 0.001934818536627623

In [ ]:
ddof=1
alpha=0.05
critical_value=stats.chi2.ppf(q=(1-alpha),df=ddof)
print("Critical_Value :-\n",critical_value)

Critical_Value :-
 3.841458820694124

In [ ]:
if chi_square_statistic>=critical_value:
    print("Rejected")
else:
    print("Retained")

Retained